.pg2 {
	padding-bottom: 100px;
	margin-bottom: 30px;
}
.pg2 h2{
	margin-bottom: 40px;
}
.p2_block {
	display: inline-block;
	margin:0 0 0 23px;
	width: 186px;
}
.pg2>div:nth-child(4) {
	margin-right: 0;
}
.p2-img-block {
	width: 183px;
	height: 129px;
	background: #3ba8c0;
	border-radius: 7px;
	position: relative;
	margin-bottom: 10px;
}
.p2-img-block img {
	text-align: center;
	border:1px solid #3ba8c0;
	border-radius: 7px;
}
.p2-img-block:hover {
	cursor: pointer;
}
.p2-img-block:hover:before {
	content:'название';
	display: block;
	color:#fff;
	font-size: 12px;
	width: 64px;
	height: 20px;
	border: 2px solid #fff;
	position: absolute;
	border-radius: 4px;
	left:50%;
	top: 50%;
	text-align: center;
	margin-left:-34px;
	margin-top:-12px;

}
.p2-img-block:hover img {
	opacity:0.3;
}

.p2_block {
	min-height:230px;
}
 .p2_block_last {
	vertical-align: top;
}
.p2_block a {
	display: block;
	color:#3ba8c0;
	font:13px 'fira_sanslight';
	text-decoration: none;
	text-align: center;
}
.p2_block p {
	font:15px 'fira_sanslight';
	color:#4a545d;
	text-align: center;
}